<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <!-- https://logback.qos.ch/manual/layouts.html#conversionWord -->

  <property name="HOME_LOG" value="logs/app.log"/>

  <appender name="ROLLING-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${catalina.base}/logs/movies.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${catalina.base}/logs/movies-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <maxFileSize>10MB</maxFileSize>
      <totalSizeCap>40MB</totalSizeCap>
      <maxHistory>3</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%date{HH:mm:ss.SSS} [%-5level] %-36logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- for debugging purposes only -->
  <!--<statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>-->

  <logger name="com.movie.index" level="debug" additivity="false">
    <appender-ref ref="ROLLING-FILE"/>
  </logger>

  <logger name="ch.qos.logback" level="info" additivity="false">
    <appender-ref ref="ROLLING-FILE"/>
  </logger>

  <logger name="org.hsqldb" level="debug" additivity="false">
    <appender-ref ref="ROLLING-FILE"/>
  </logger>

  <!--<root level="error">-->
    <!--<appender-ref ref="ROLLING-FILE"/>-->
  <!--</root>-->

</configuration>