li.poster {
  float: left;
}

li.poster div.card {
  margin: 3px;
  /* padding: 3px 3px 0 3px; */
  background-color: #393936;
  cursor: pointer;
  position: relative;
  padding-bottom: 155%; /* aspect ratio for card */
}

li.poster.selected div.card {
  background-color: #f9be03;
}

/*
 * container .poster has to be positioned relative
 * and the nested .overlay has to be positioned absolute
 */

li.poster .artwork {
  position: absolute;
  overflow: hidden;
  /* display: table-cell; */
  vertical-align: middle;
  top: 3px;
  bottom: 2em; /* space for movie title at bottom of card */
  left: 3px;
  right: 3px;
}

li.detail-poster .artwork {
  bottom: 3px;
}

li.poster .overlay {
  float: left;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3dc0f1;
  opacity: 0.7;
  text-align: center;
  color: yellow;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.6s ease;
}

li.poster .index-preview {
  font-size: 1.7em;
  position: absolute;
  display: inline-table;
  top: 20%;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  padding: 0 30px;
  margin: auto;  
  box-sizing: border-box;
  text-align: center;
  text-transform: capitalize;
  /*font-size: 6vw;*/
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  font-weight: normal!important;
  /* line-height: 1.3; */
  color: white;
  opacity: 0;
  filter: alpha(opacity=0);/*For older IE*/
  transform: translateY(-20px);
  transition: all .3s;

  /*border: solid 1px yellow;*/
  vertical-align: middle;
}

li.poster:hover .overlay {
  opacity: 0.8;
  transition: opacity 0.6s ease;
}

li.poster:hover .index-preview {
  transform:translateY(0px);
  opacity:0.98;
}

li.poster .title {
  line-height: 2em;
  padding-left: 7px;
  padding-right: 7px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

li.poster img {
  width: 100%;  
  height: 100%;
  display: block;
  transform: scale(1);
  transition: transform 0.6s ease;
}

li.poster:hover img {
  transform: scale(1.15);
  transition: transform 0.6s ease;
}

/*
 * The order of these media rules
 * must be in descending order
 */

@media (max-width: 7680px) {
  li.poster {
    width: 8.33%;s
  }
}

@media (max-width: 3840px) {
  li.poster {
    width: 10%;
  }
}

@media (max-width: 2560px) {
  li.poster {
    width: 12.5%;
  }
}

@media (max-width: 1920px) {
  li.poster {
    width: 16.66%;
  }
}

@media (max-width: 1280px) {
  li.poster {
    width: 20%;
  }
}

@media (max-width: 1024px) {
  li.poster {
    width: 25%;
  }
}

@media (max-width: 800px) {
  li.poster {
    width: 33.33%;
  }
}

@media (max-width: 500px) {
  li.poster {
    width: 50%;
  }
}
